[Unit]
Description=AIO BFD
After=network.target
ConditionPathExists=/etc/aiobfd/aiobfd.conf

[Service]
EnvironmentFile=/etc/aiobfd/aiobfd.conf
RuntimeDirectory=aiobfd
User=aiobfd
ExecStart=/usr/bin/aiobfd run $AIOBFD_ARGS

[Install]
WantedBy=multi-user.target
